html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 70%;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}

.halfBackground {
    background-image: url("../images/imageHome.jpg");
    margin-top: 30px;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.m-b-md {
    margin-bottom: 30px;
}

.halfBackgroundPeminjaman {
    background-image: url("../images/imageHome.jpg");
    background-size: 100% 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -15px;
}

h4 {
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h5 {
    float: left;
    padding-bottom: 20px;
}

.top-middle {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.top-left {
    position: absolute;
    left: 10px;
    top: 20px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    /* Ini tambahan Intan */
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.info{
    font-size: 12px;
}
.tulisanKekiri{
    text-align: left;
}

.show{
    display:block!important;
}

.hide{
    display: none!important;
}

.bg-recommend{
    background-color:#d5ff54!important;
}